<!DOCTYPE html>
<head>
    
    <title>Get Together</title>
    <link rel="stylesheet" href='assets/css/neww.css'/>
    <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">-->

</head>
<body>
    
    <!--<nav style="background-color:#5856B2">-->
    <nav style="background-color:#b637f1" class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a style="font-size:xx-large; font-style:normal; font-weight:bolder; color:white" class="navbar-brand" href="#">GET TOGETHER</a>
            <!--<a class="f" href="#">GET TOGETHER</a>-->
            <a class="s" href="/login">SIGN IN</a>
            <a class="su" href="/register">SIGN UP</a></div>
    </nav>
    <div class="container" >
        <h1>The Perfect Solution  </h1>
        <h2>For Real Time Communication and Collaboration</h2>
        <p>With video, audio and screen sharing communication and livechat features.</p>
        <a class="btn" href="#">GET STARTED</a>
        <img src="assets/img/undraw_video_call_kxyp.svg" >
    </div>
</body>
