@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
/*margin-left: 185px;
padding: 20px 16px;
*/
body{
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  background-color:#eaeaf5;
}

nav {
  width: 1532px;
  height: 60px;
  background: #b637f1;
}

.f {
  float: left;
  color: white;
  text-align: left;
  padding: 20px 16px;
  margin-left: 185px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}

.s {
  float: right;
  color: white;
  text-align: right;
  padding: 20px 16px;
  margin-right: 185px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}

.page-name{
  margin-left:200px
}
.page-name h2{
  font-size: medium;
  color: #414141;
}

.box{
  position: absolute;
  margin-left: 200px;
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%,-50%); */
  width: 890px;
  padding: 40px;
  background: rgba(255, 255, 255);
  /* box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5); */
  border-radius: 10px;
}

.box .input-box{
  position: relative;
}
.box .input-box input{
  width: 50%;
  margin-left: 25%;
  padding: 10px 10px;
  font-size: 12px;
  color: #414141;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid #414141;
}
.box .input-box label{
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 1px;
  margin-left: 25%;
  padding: 10px 10px;
  font-size: 12px;
  color: #414141;
  transition: .5s;
}
.box .input-box input:focus ~ label,
.box .input-box input:valid ~ label{
  top: -18px;
  left: 0px;
  color: #b637f1;
  font-size: 12px;
}
.box input[type="submit"]{
  position: relative;
  margin-left: 45%;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  background: #b637f1;
  padding: 10px 20px;
  border-radius: 5px;
  cursor:pointer;
}

.box .input-box input[type="date"]:required:invalid::-webkit-datetime-edit{color:transparent}
.box .input-box input[type="date"]:focus::-webkit-datetime-edit{color:#414141 impo !important}
